{% extends "base.html" %}
{% block content %}

{% for post in blogdata %}


<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.title }}</a>
            <small class="text-muted">{{ post.content }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.author }}</a></h2>
        <p class="article-content">{{ post.post_datetime }}</p>
    </div>
</article>
{%endfor%}

{% endblock %}
